<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">

  
    <h1>Weather app</h1>
  </div>
	
	<input class="search" type="text" placeholder="Søk etter by">
	<button type="button" onClick="searchWeather()">Search weather</button>
	<div class="city">
		
	</div>
	<div class="coord">
		
	</div>
	<div class="temp">
		
	</div>
	<div class="wind">
		
	</div>
	<button onClick="handleSignIn()">Login</button>
	<form onSubmit="handleFormSubmit()" action="#">Title:<br>
	<input type="text" id="post-title"/>
	<br/>
	Body: 
	<br/>
	<textarea id="post-body" cols="30" rows="10"></textarea>
	<br />
	<button>Submit</button>
	<div id="post-listing"></div>


	</form>
  
</body>

</html>